# Jupyter Notebook files
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Python virtual environment
venv/

# Python bytecode
__pycache__/

# Compiled source files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
egg-info/
*.egg

# Visual Studio Code settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

